.player {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.player-turn {
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
  display: grid;
  place-items: center;
  font-size: 2.5rem;
}

.player-turn-turn {
  background: var(--selected);
}

.player-counter {
  display: grid;
  place-items: center;
  font-size: 3rem;
  height: 5rem;
  background: var(--square-color);
  border-radius: 5px;
  color: var(--black);
}
