:root {
  --primary-color: #7e7b7b;
  --secundary-color: #373535;
  --square-color: #ececec;
  --white: #ffffff;
  --black: #000000;
  --selected: rgba(19, 190, 88, 0.5);
}

body {
  background: var(--secundary-color);
  color: var(--white);
  display: grid;
  place-items: center;
}
